<ng-container *ngIf="categories$ | async as categories">
  <main role="main" *ngIf="!categories?.loading; else loader">
    <div class="container">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-4 col-xl-3">
            <h6 class="mt-4 mt-lg-2 mb-4">Другие категории</h6>
            <div class="aside-accordion-menu list-group">
              <sport-coach-category-dropdown
                [categories]="categories?.items"
                [selectedSubCatId]="subCategory$ | async"
              >
              </sport-coach-category-dropdown>
            </div>
            <h3 class="h5 mt-5 mb-4">Фильтры по товарам</h3>
            <h6 class="mb-2 pb-1">Названию</h6>
            <input
              #searchBox
              type="text"
              class="form-control"
              placeholder="Фильтр по названию"
              formControlName="text"
            />
            <sport-coach-brands
              [brands]="(brands$ | async).items"
              [selectedBrands]="selectedBrands$ | async"
              formControlName="brands"
            >
            </sport-coach-brands>
            <sport-coach-price-slider formControlName="prices">
            </sport-coach-price-slider>
          </div>
          <ng-container *ngIf="products$ | async as products">
            <div
              *ngIf="!products?.loading; else second"
              class="col-lg-8 col-xl-9 products-list"
            >
              <sport-coach-content-product
                *ngFor="let product of products?.items"
                [product]="product"
              >
              </sport-coach-content-product>
              <div class="noProducts" *ngIf="products.items.length < 1">
                <h5>К сожалению нет товаров удовлетворяющих условиям</h5>
              </div>
            </div>
            <ng-template #second>
              <sc-loader class="col-lg-8 loaderLeft"></sc-loader>
            </ng-template>
          </ng-container>
        </div>
      </form>
    </div>
  </main>
  <ng-template #loader>
    <sc-loader class="col-lg-12 loaderCenter"></sc-loader>
  </ng-template>
</ng-container>
